[package]
name = "hearts-ws"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arraystring = { version = "0.3.0", features = ["serde-traits"] }
async-session = "3.0.0"
axum = { version = "0.6.19", features = ["ws", "headers"] }
axum-extra = "0.7.5"
futures = "0.3.28"
futures-util = { version = "0.3.28", features = ["sink", "std"] }
lib-hearts = "0.1.10"
minijinja = "1.0.5"
rand = "0.8.5"
serde = { version = "1.0.174", features = ["derive", "rc"] }
serde_json = "1.0.103"
tokio = { version = "1.29.1", features = ["full"] }
tower-http = { version = "0.4.3", features = ["fs", "trace", "redirect"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
typenum = "1.16.0"
uuid = { version = "1.4.1", features = ["v4"] }
