{% extends "base.html" %} {% block customCss %}
<link href="/assets/css/room.css" rel="stylesheet" />
{% endblock %} {% block title %}{{ super() }}{% endblock %} {% block body %}

<!-- macro for player divs -->
{% macro playerDiv(id) %}
<div id="{{id}}" class="{{id}} child">
  <div class="d-flex flex-column">
    <div class="score">
      <span class="currentScore">-</span>
      <div class="timer d-none" style="--duration: {{timeout}}; --size: 12">
        <div class="mask"></div>
      </div>
      <a href="#" class="seat emptySeat" title="playerTop">👤</a>

      <span class="playerScore">-</span>
    </div>
    <div>
      <p class="playerName p-0">-</p>
    </div>
  </div>
</div>
{% endmacro %}

<p>Room {{room.id}}</p>
<hr />
<div
  id="app"
  data-ws-endpoint="{{ws_endpoint}}"
  data-room-id="{{room.id}}"
  data-user-id="{{user.id}}"
>
  <div class="row">
    <div class="container">
      <div id="roomTable" class="roomTable">
        <div class="child gameState d-none"><span></span></div>
        <div id="stack" class="stack child"></div>

        <!-- player top -->
        {{playerDiv("playerTop")}}
        <!-- player left -->
        {{playerDiv("playerLeft")}}
        <!-- player bottm -->
        {{playerDiv("playerBottom")}}
        <div id="playerBottomCards" class="playerBottomCards child"></div>
        <!-- player right -->

        {{playerDiv("playerRight")}}
      </div>
    </div>
  </div>
  {% endblock %} {% block javascript %}
  <script src="/assets/js/room.js" type="module"></script>
  {%endblock %}
</div>
