{% extends "base.html" %}
{% block customCss %}
  <link href="/assets/css/room.css" rel="stylesheet">
{% endblock %}
{% block title %}{{ super() }}{% endblock %}


{% block body %}
<p>Room {{room.id}}</p>
<hr>
<div id="app" data-ws-endpoint="{{ws_endpoint}}" data-room-id="{{room.id}}" data-user-id="{{user.id}}">

  <div class="row">
    <div class="container">
      <div id="roomTable" class="roomTable">
        <div id="playerTop" class="playerTop child ">
          <span class="currentScore">0</span>
          <span class="character">👤</span>
          <span class="playerScore">0</span>
        </div>
        <div id="playerLeft" class="playerLeft child ">         
          <span class="currentScore">0</span>
          <span class="character">👤</span>
          <span class="playerScore">0</span></div>
        <div id="playerRight" class="playerRight child ">
          <span class="currentScore">0</span>
          <span class="character">👤</span>
          <span class="playerScore">0</span>
</div>
        <div id="playerBottom" class="playerBottom child ">
          <span class="currentScore">0</span>
          <span class="character">👤</span>
          <span class="playerScore">0</span>
</div>
       
          <div id="playerBottomCards"  class="playerBottomCards child">
         <span  class="kard">🃑 </span>
         <span  class="kard">🃑 </span>
          <span class="kard">🂢 </span>
          <span class="kard">🂶 </span>
          <span class="kard">🂱 </span>
          <span class="kard">🃑 </span>
          <span class="kard">🂢 </span>
          <span class="kard">🂶 </span>
          <span class="kard">🂱 </span>
          <span class="kard">🃑 </span>
          <span class="kard">🂢 </span>
          <span class="kard">🂶 </span>
          <span class="kard">🂱 </span>

        </div>
        <div id="stack" class="stack child">
          <span class="kard">🃑 </span>
          <span class="kard">🂢 </span>
          <span class="kard">🂶 </span>
          <span class="kard">🂱 </span>
        </div>

      </div>
   

    </div>

  </div>
</div>
{% endblock %}

{% block javascript %}
<!-- <script src="/assets/js/app.js"> </script> COMMENTED FOR NOW -->
{% endblock %}
