.roomTable {
  position: relative;
  height: 60vh;
  padding: 0;
  border-radius: 40px;
  background-color: seagreen;
  border: 20px solid;
}

.child {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.seat {
  color: transparent;
  text-decoration: none;
}
.filledSeat {
  text-shadow:
    0 0 1px cornflowerblue,
    -1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black,
    1px -1px 1px black;
}
.emptySeat {
  text-shadow:
    0 0 1px white,
    -1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black,
    1px -1px 1px black;
}

.currentPlayer {
  text-shadow:
    0 0 1px yellow,
    -1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black,
    1px -1px 1px black;
}

.stack {
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
}

.kard {
  color: black;
  text-decoration: none;
  background-color: white;
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
}

.currentScore {
  margin-left: 2px;
  margin-right: 2px;
  background: crimson;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 1rem;
  border: 1px solid;
}
.playerScore {
  margin-left: 2px;
  margin-right: 2px;
  font-weight: bold;
  background: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 1rem;
  border: 1px solid;
}

.playerBottomCards {
  bottom: 0;
  margin-bottom: 40px;
  width: 100%;
  flex-wrap: wrap;
  background-color: crimson;
}
.playerTop {
  top: 0;
  width: 100%;
  margin-top: 2px;
}

.playerBottom {
  bottom: 0;
  width: 100%;
  margin-bottom: 2px;
}

.playerId {
  font-size: 0.5em;
  display: block;
}

.playerRight {
  right: 0;
  top: 50%;
  bottom: 50%;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}

.playerRight :not(.playerScore, .currentScore) {
  transform: rotate(90deg);
}

.playerBottom :not(.playerScore, .currentScore) {
  transform: rotate(180deg);
}

.playerLeft :not(.playerScore, .currentScore) {
  transform: rotate(-90deg);
}

.playerLeft {
  left: 0;
  top: 50%;
  bottom: 50%;
  margin-left: 5px;

  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 60em) {
  .child {
    font-size: 2.5em;
  }
  .playerBottomCards {
    margin-bottom: 50px;
  }
}
