@import "./simple-grid.css";
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.ms-1 {
  margin-left: 5px;
}
.me-1 {
  margin-right: 5px;
}
.underline {
  text-decoration: underline;
}

.dark {
  color: black;
}
.red {
  color: red;
}
.crimson {
  color: crimson;
}

.white {
  color: white;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.p-0 {
  padding: 0;
}
