@import "./simple-grid.css";
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.ms-1 {
  margin-left: 5px;
}
.me-1 {
  margin-right: 5px;
}
.underline {
  text-decoration: underline;
}

.dark {
  color: black;
}
.red {
  color: red;
}

.white {
  color: white;
}
