@import "./simple-grid.css";
.d-block {
  display: block;
}
.ms-1 {
  margin-left: 5px;
}
.me-1 {
  margin-right: 5px;
}
.underline {
  text-decoration: underline;
}
.card-selected {
  text-shadow:
    -0.5px 0 black,
    0 0.5px black,
    0.5px 0 black,
    0 -0.5px black;
}

.dark {
  color: black;
}
.red {
  color: red;
}
.card {
  font-size: 30px;
}
.white {
  color: white;
}
